/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#container {
  height: 100%;
  display: flex;
  position: relative;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  z-index: 1;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* #map {
  height: 100%;
  width: 100%; 
  
} */
#map3d {
  flex-basis: 0;
  flex-grow: 4;
  position: absolute; /* Overlaps #map */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5; /* Higher z-index to display on top of #map */
  display: none; /* Initially hidden */
  background-color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#place-autocomplete-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: large;
  font-weight: bold;
}

gmp-place-autocomplete {
  width: 300px;
}

#infowindow-content .title {
  font-weight: bold;
}

#map #infowindow-content {
  display: inline;
}
  